<!doctype html> 
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Flitter - a Twitter clone</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Any other custom CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-static-top mx-auto">
        <a class="navbar-brand" href="#">
          <img src='../images/butterfly.jpg' alt="Butterfly" style="height: 40px; width: 40px;">
        </a>
          <ul class="navbar-nav navbar-center mr-auto">
            <li class='nav-item' style='margin-bottom: 0px;'>
                <p style='font-size: 35px; margin-right: 30px; margin-bottom: 0px;'>Flitter - a Twitter clone</p>
                <p style='margin-bottom: 5px;'>Social Distancing for Social Media</p>
                </li>  
            <li class='nav-item' style='margin-bottom: 0px;'><a class="nav-link" href="/" style='font-size: 25px;'>Logout</a></li>
          </ul>
    </nav>

    <br><br><br><br>

    <main class='section'>

        <div class='container'>
            <div class='row'>
                <div class='col text-center'>
                    <img src='../images/butterfly.jpg' class='mx-auto' alt="Butterfly" style="">
                </div>
                <div class='col'>
                    <div class='row'>
                        <div class='col' style='padding-right: 100px;'> 
                            <!-- Form Control - write a tweet -->
                            <form action='/tweetlist' method="POST" id='tweetForm'>
                                <div class="form-group">
                                    <label for="FormControlTextarea1">Write a Tweet!</label>
                                    <textarea class="form-control" id="FormControlTextarea1" rows="4" name="tweet"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <!-- Templating creating list items for each tweet -->
                    <ul class="tweetlist">
                        {{#each tweets}}
                        <li>
                            <div class="card w-80 mx-auto border border-dark">
                                <div class="card-header">
                                    <h5><img class='userPic border border-dark rounded-sm' src={{this.photoimage}} alt="Goose">{{this.displayname}}</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">Twitter ID: {{this.twitterid}}</p>
                                    <p class="card-text">Tweet: <strong>{{this.tweet}}</strong></p>
                                    <form action='/delete/{{this.tweetid}}' method="PUT" id='tweetForm'>
                                     <button type="submit" class="btn btn-outline-primary btn-sm">Delete this Tweet</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

    </main>

    <footer class="fixed-bottom mx-auto">
        <div class="mx-auto text-center">
            <p class="text-muted">© Uly, Wily, Scott. c/o DC Flex 2020 </p>
        </div>
    </footer
 
    <!-- Required JS for Bootstrap CDN -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src=""></script>
    
</body>

</html>